<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="modal fade" id="myModal" th:fragment = "modalView">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit user</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="updateForm" method="post">
                    <label>ID</label><br/><input type="number" value="1" name="id" min="1" required/>
                    <label>First name</label><br/><input type="text" name="first_name" required/><br/>
                    <label>Last name</label><br/><input type="text" value="Last Name" name="last_name" required/><br/>
                    <span class="email"><label>Email</label><br/><input type="email" value="Email" name="email" required/><br/></span>
                    <span class = "password"><label>Password</label><br/><input type="password" name="password"/><br/></span>
                    <label>Age</label><br/><input type="number" value="Age" name="age" min="0" required/><br/>
                    <label>Role</label><br/><select class="form-control" name="roles" multiple>
                    <option>ADMIN</option>
                    <option>USER</option>
                </select><br/>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--              привязать к кнопке убрать экран-->
                <button type="button" class="btn btn-primary">Edit</button>
            </div>

        </div>
    </div>
</div>
</body>
</html>