.head{
    height: 65px;
    background: black;
    color: white;
}

.row.head{
    margin-left: 0;
    padding-top: 10px;
}
.row.bodymain{
    height: 100%;
}
h5{
    font-weight: normal;
}
.col-lg-2{
    background: white;
    padding-top: 15px;
    padding-right:0;
}

.linkinside{
    padding-right: 20px;
}
.linkinside a{
    color: grey;
    font-weight: normal;
}

span{
    font-weight: normal;
}

.col-lg-11{
    padding-left: 40px;
}
.linkinside, .font-weight-bolder{
    display: flex;
    align-items: center;
}
.div-insede-side-menu{
    width: 100%;
    height: 50px;
}

.admin-page a{
    color: white;
}
.user-page{
    padding-left: 3%;
}
.pages{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 5%;
}
table{
    width: 94%!important;
}
.table{
    background: white;
    font-size: 12pt;
    margin: 15px 3%;
}

h5{
    font-weight: bold;
}
.roles{
    font-weight: normal;
}
label{
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
    width: 100%;
}
form input {
    margin-bottom: 20px;
}
form{
    text-align: center;
}

.tab-content{
    background: white;
}
.table-head{
    background: rgba(0,0,0,.05);
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
    border-bottom: 1px solid gainsboro;
    margin-top: -24px;

}
.tab-content{
    border: 1px solid gainsboro;
}
#home, #menu1{
    padding: 0;
}
.bodylinks{
    padding-right: 0!important;
}

#addForm input{
    width: 350px;
}
#addForm select{
    width: 350px;
    margin-left: 34%;
}
#addForm{
    margin-bottom:40px;
    margin-top: 15px;
}
