<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/site.css}" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body{
            background-color: #eee;
            height:100vh;
        }
        select.form-control[multiple] {
            height: 51px;
            margin-left: 32%;
            width: 184px;
        }
    </style>
</head>
<body>
<div th:replace="fragment/logout :: logout(${username}, ${roles})"></div>

<div class="row bodymain">
    <div th:replace="fragment/logout :: sidemenu (${sidemenuroles})"></div>
    <div class="sm-10 main-table-div">
    <h2>Admin Panel</h2>
    <table class="table table-striped">
        <thead>
        All Users
        </thead>
        <thead>
        <th>Id</th>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Email </th>
        <th>Roles </th>
        <th>Age </th>
        <th>Edit</th>
        <th>Delete</th>
        </thead>
        <tbody>
        <tr th:each = "tempUser : ${usersList}">
            <td th:text="${tempUser.getId()}"/>
            <td th:text="${tempUser.getFirstName()}"/>
            <td th:text="${tempUser.getLastName()}"/>
            <td th:text="${tempUser.getEmail()}"/>
            <td th:text="${tempUser.stringOfRoles()}"/>
            <td th:text="${tempUser.getAge()}"/>
            <td>
                    <button class="btn btn-info" data-toggle="modal" data-target="#myModal">
                        Edit
                    </button>
            </td>
            <td>
                <form th:action="'/admin/delete/' + ${tempUser.getId()}">
                <button class="btn btn-danger">Delete</button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
    <form action="/admin/add" method="post">
        <input type="text" value="First Name" name="first_name" required/>
        <input type="text" value="Last Name" name="last_name" required/>
        <input type="text" value="Email" name="email" required/>
        <input type="text" value="Password" name="password" required/>
        <label>Age</label><input type="number" value="Age" name="age" min="0" required/>
        <label>ADMIN</label><input type="checkbox" value="admin" name="admin_check"/>
        <label>USER</label><input type="checkbox" value="user" name="user_check"/>
        <input type="submit" value="Add"/>
    </form>


</div>
</div>
    <div th:replace="fragment/modal :: modalView"></div>
</body>
</html>